{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/data.css">
{% endblock %}

{% block content %}

<form action="/login" method="POST">
    {{ form.csrf_token }}
    <fieldset>
        <h1>What's your location? </h1>
        {{ form.location }}

        <ul>
            {% for error in form.location.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        <button type="button" class="btn btn-link align-items-center" id="login"><a href="/feed">Enter</a></button>
    </fieldset>
  </form>
{% endblock %}