{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/static/login.css">
{% endblock %}

{% block content %}

<div class="sidenav">
    <div class="login-main-text">
       <h1>Welcome Back!</h1>
       <h4>Login here to get started</h4>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12 offset-3">
       <div class="login-form">
          <form action="/login" method="POST">
            {{ form.csrf_token }}
            <fieldset>
                <legend>Enter your username and password</legend>
        
                {{ form.username.label }}
                <br>
                {{ form.username }}
        
                <ul>
                    {% for error in form.username.errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
        
                {{ form.password.label }}
                <br>
                {{ form.password }}
                <ul>
                    {% for error in form.password.errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
        
                <button type="submit" class="btn btn-link align-items-center" id="login">Login</button>
            </fieldset>
          </form>
       </div>
    </div>
 </div>

{% endblock %}