{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/restaurant_detail.css">
{% endblock %}

{% block content%}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img src="{{restaurant.image_url}}" class="background-img">
      <h1 class="display-4">{{restaurant.name}}</h1>
      <p class="lead">Adress: {{restaurant.address}}</p>
      <p class="lead">Price: {{restaurant.price}}</p>
    </div>
  </div>

  <ol>
    <h3 class="text-center">Reviews on {{restaurant.name}}</h3>
    <li><h5>Title: {{reviews.title}}</h5>
    <p class="text-start">Message: {{reviews.content}}</p>
    </li>
  </ol>

{% endblock%}