{% extends 'login.html' %}

{% block styles %}
    <link rel="stylesheet" href="/static/signup.css">
{% endblock %}

{% block content %}

<div class="sidenav">
    <div class="login-main-text">
       <h1>Welcome to Cheap Eats!</h1>
       <h4>Find local restaurants in your area for the low!</h4>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12 offset-3">
       <div class="signup-form">
          <form action="/signup" method="POST">
            {{ form.csrf_token }}
            <fieldset>
                <legend>Enter your username and password</legend>
        
                {{ form.username.label }}
                <br>
                {{ form.username }}
        
                <ul>
                    {% for error in form.username.errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
        
                {{ form.password.label }}
                <br>
                {{ form.password }}
                <ul>
                    {% for error in form.username.errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
        
                <button type="button" class="btn btn-link align-items-center" id="signup"><a href="/data">Create Account</a></button>
            </fieldset>
          </form>
       </div>
    </div>
 </div>

{% endblock %}